<div class="container">
  <h2 class="title">TODO App</h2>
  <div>
    <div class="card">
      <div class="card-body">
        <app-new-task (newTask)="onNewTask($event)"></app-new-task>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <app-todos
          [todos]="todos?.notCompleted"
          (completed)="onCompleted($event)"
        ></app-todos>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <app-completed-tasks
          [completedTasks]="todos?.completed"
          (deleteCompleted)="onDeleteCompleted()"
        ></app-completed-tasks>
      </div>
    </div>
  </div>
</div>
